BankAppEnv/
target/
www/app/bower_components/
models/bank.db
models/bank.sql
models/__pycache__/
logs/
.classpath
.settings
.project
.metadata
README.md~
database/Database.egg-info/
database/build/
database/dist/
database/conf/dev/bank.conf